@import "tailwindcss";

body{
  font-family: "poppins", sans-serif;
}

h1,h2{
  font-family: "roboto",sans-serif;
}

@layer utilities{
  .gradient{
    background: linear-gradient(-45deg,black,rgb(44, 214, 126),rgb(132, 195, 215));
  }
}