@import "tailwindcss";

body{
  font-family: "poppins", sans-serif;
}

h1,h2{
  font-family: "roboto",sans-serif;
}

@layer utilities{
  .gradient{  
    background: linear-gradient(-45deg,rgb(0, 0, 0),rgb(18, 6, 126),rgb(167, 19, 231));
  }
}

* {
  cursor: none;
}
